<!DOCTYPE html>
<html>
  <head>
   <!--- <link href="https://cdn.botframework.com/botframework-webchat/latest/botchat.css" rel="stylesheet" /> -->
  </head>
  <body>
    <div id="bot"/>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>
    <script>
      BotChat.App({
        directLine: { secret: 'lnAc0Bu571c.0beYsq4xvN3SvPcUlkyMQ0t1BiD2zVD62gMFodr5lLw' },
        user: { id: 'userid' },
        bot: { id: 'octopediaWebBot' },
        resize: 'detect'
      }, document.getElementById("bot"));
    </script>
  </body>
</html>